[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
beautifulsoup4 = "4.10.0"
bs4 = "0.0.1"
lxml = "4.8.0"
requests = "2.27.1"
urllib3 = "1.26.8"
numpy = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
