@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto
}

/* Title styling */

.title{
    width: 100%;
    padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 40px;
}

.title h1{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: #e7c819;
}

/* Class Inputs styling */

.inputs{
    padding-left: 40px;
}

.inputs .field{
    display: inline-block;
    width: calc(40%);
    margin-bottom: 30px;
}

.inputs .field .text-box{
    width: 40%;
    margin-left: 50%;
    border-radius: 20px;
    background: #ffac12;
    padding: 10px 0px 10px 40px;
    transition: all 0.3s ease;
}

.inputs .field .text-box:hover{
    transform: scale(1.05);
}

.inputs .field .text-box input{
    border: none;
    background: #ffac12;
}

.inputs button{
    margin-left: 45%;
    height: 25px;
    margin-bottom: 20px;
    width: 100px;
    border: none;
    border-radius: 8px;
    background: #ffac12;
    transition: all 0.3s ease;
}

.inputs button:hover{
    transform: scale(1.05);
    background: none;
    color: #ffac12;
}

/* Schedule Section styling */

.schedule{
    width: 100%;
    padding: 80px 0;
    font-family: 'Montserrat', sans-serif;
}

.schedule .max-width {
    display: inline-block;
    align-items: center;
    justify-content: space-between;
}

.schedule p{
    padding: 0px 0px 50px 40px;
    font-size: 30px;
    font-weight: 400;
}

.schedule table, th, td {
    border: 1px solid white;
}

.schedule table{
    padding: 0px 0px 0px 80px;
}

.schedule th{
    background: #ffce74;
    padding: 10px 70px;
    color: whitesmoke;
}

.schedule td{
    background: #00c3ff63;
    padding: 10px 70px;
}

/* Map Styling */

.schedule .card{
    width: 100%;
}


.schedule .card .map .map, iframe{
    width: 700px;
    height: 500px;
    display: block;
    margin: 0 auto;
}