{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'homepage-style.css' %}" rel="stylesheet">
    <title>Distance Optimized Schedule Generator</title>
</head>

<body>
    <!-- Project Title -->
    <section class="title" id="title">
        <div class="max-width">
            <h1>Distance Optimized Schedule Generator</h1>
        </div>
    </section>

    <!-- Google Maps Map -->

    <section class="Google Maps" id="google-maps">
        <div class="max-width">
            <div class="map" id="map">
                <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen src="{{maps_link}}">
                </iframe>
            </div>
        </div>
    </section>

    <!-- Class Inputs -->

    <section class="inputs" id="inputs">
        <div class="max-width">
            <form action="." method="POST">
                {% csrf_token %}
                <div>
                    <label for="crn">CRN</label>
                    <input type="number" name="crn" id="crn" placeholder="31187" required>
                </div>
                <div>
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location" placeholder="CIF">
                </div>
                <div>
                    <label for="instructor">Proffesor/TA</label>
                    <input type="text" name="instructor" id="instructor" placeholder="Benjamin Cosman">
                </div>
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>

    <!-- Distance Optimixed Schedule -->
    <section class="Schedule" id="schedule">
        <div class="max-width">
            <p>Here is your Distance Optimized Schedule</p>
            <table>
                <tr>
                    <th>{{class_1}}</th>
                    <th>{{class_2}}</th>
                    <th>{{class_3}}</th>
                    <th>{{class_4}}</th>
                    <th>{{class_5}}</th>
                </tr>
                <tr>
                    <td>{{section_1_1}}</td>
                    <td>{{section_2_1}}</td>
                    <td>{{section_3_1}} </td>
                    <td>{{section_4_1}}</td>
                    <td>{{section_5_1}}</td>
                </tr>
                <tr>
                    <td>{{section_1_2}}</td>
                    <td>{{section_2_2}}</td>
                    <td>{{section_3_2}} </td>
                    <td>{{section_4_2}}</td>
                    <td>{{section_5_2}}</td>
                </tr>
            </table>
        </div>
    </section>
</body>

</html>