{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- CSS  -->
    <link href="{% static 'css/homepage-style.css' %}" rel="stylesheet">

    <title>Distance Optimized Schedule Generator</title>
</head>

<body>

    <!-- Project Title -->
    <section class="title" id="title">
        <div class="max-width">
            <h1>Distance Optimized Schedule Generator</h1>
        </div>
    </section>

    <!-- Class Inputs -->

    <section class="inputs" id="inputs">
        <div class="max-width">
            <form action="." method="POST">
                {% csrf_token %}
                <div class="field">
                    <div class="text-box">
                        <label for="Subject">Subject:</label>
                        <input type="text" name="sub" id="sub" required>
                    </div>
                </div>
                <div class="field">
                    <div class="text-box">
                        <label for="Course No">Course No:</label>
                        <input type="text" name="course_no" id="course_no">
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="text-box">
                        <label for="instructor">Proffesor/TA:</label>
                        <input type="text" name="instructor" id="instructor">
                    </div>
                </div> -->
                <button type="submit">Submit</button>
            </form>
        </div>
    </section>

    <!-- Schedule -->
    <section class="schedule" id="schedule">
        <div class="max-width">
            <p>Here is your Distance Optimized Schedule:</p>
            <div class="card one">
                <div class="map" id="map">
                    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
                        src="{{maps_link}}">
                    </iframe>
                </div>
                <table>
                    <tr>
                        <th>{{class_1}}</th>
                        <th>{{class_2}}</th>
                        <th>{{class_3}}</th>
                        <th>{{class_4}}</th>
                        <th>{{class_5}}</th>
                    </tr>
                    <tr>
                        <td>{{section_1_1}}</td>
                        <td>{{section_2_1}}</td>
                        <td>{{section_3_1}} </td>
                        <td>{{section_4_1}}</td>
                        <td>{{section_5_1}}</td>
                    </tr>
                    <tr>
                        <td>{{section_1_2}}</td>
                        <td>{{section_2_2}}</td>
                        <td>{{section_3_2}} </td>
                        <td>{{section_4_2}}</td>
                        <td>{{section_5_2}}</td>
                    </tr>
                </table>
            </div>
            <!-- <div class="card two">
                <div class="map" id="map">
                    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
                        src="{{maps_link}}">
                    </iframe>
                </div>
                <table>
                    <tr>
                        <th>{{class_1}}</th>
                        <th>{{class_2}}</th>
                        <th>{{class_3}}</th>
                        <th>{{class_4}}</th>
                        <th>{{class_5}}</th>
                    </tr>
                    <tr>
                        <td>{{section_1_1}}</td>
                        <td>{{section_2_1}}</td>
                        <td>{{section_3_1}} </td>
                        <td>{{section_4_1}}</td>
                        <td>{{section_5_1}}</td>
                    </tr>
                    <tr>
                        <td>{{section_1_2}}</td>
                        <td>{{section_2_2}}</td>
                        <td>{{section_3_2}} </td>
                        <td>{{section_4_2}}</td>
                        <td>{{section_5_2}}</td>
                    </tr>
                </table>
            </div>
            <div class="card three">
                <div class="map" id="map">
                    <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
                        src="{{maps_link}}">
                    </iframe>
                </div>
                <table>
                    <tr>
                        <th>{{class_1}}</th>
                        <th>{{class_2}}</th>
                        <th>{{class_3}}</th>
                        <th>{{class_4}}</th>
                        <th>{{class_5}}</th>
                    </tr>
                    <tr>
                        <td>{{section_1_1}}</td>
                        <td>{{section_2_1}}</td>
                        <td>{{section_3_1}} </td>
                        <td>{{section_4_1}}</td>
                        <td>{{section_5_1}}</td>
                    </tr>
                    <tr>
                        <td>{{section_1_2}}</td>
                        <td>{{section_2_2}}</td>
                        <td>{{section_3_2}} </td>
                        <td>{{section_4_2}}</td>
                        <td>{{section_5_2}}</td>
                    </tr>
                </table>
            </div> -->
        </div>
    </section>

</body>

</html>