{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- CSS  -->
    <link href="{% static 'css/homepage-style.css' %}" rel="stylesheet">

    <title>Distance Optimized Schedule Generator</title>
</head>

<body>

    <!-- Project Title -->
    <section class="title" id="title">
        <div class="max-width">
            <h1>Distance Optimized Schedule Generator</h1>
        </div>
    </section>

    <!-- Class Inputs -->

    <section class="inputs" id="inputs">
        <div class="main">
            <form action="." method="POST">
                {% csrf_token %}
                {% if semester is None %}
                <div class="field">
                    <div class="text-box">
                        <label for="Semester">Semester:</label>
                        <select name="sem" id="sem" required>
                            <option value="Fall">Fall</option>
                            <option value="Spring">Spring</option>
                            <option value="Summer">Summer</option>
                            <option value="Winter">Winter</option>
                          </select>
                    </div>
                </div>
                <div class="field">
                    <div class="text-box">
                        <label for="Year">Year:</label>
                        <input type="text" name="year" id="year" required onblur="yearValidation(this.value,event)" onkeypress="yearValidation(this.value,event)">
                    </div>
                </div>
                {% else %}
                <div class="field">
                    <div class="text-box">
                        <label for="Subject">Subject:</label>
                        <input type="text" name="sub" id="sub" required>
                    </div>
                </div>
                <div class="field">
                    <div class="text-box">
                        <label for="Course No">Course No:</label>
                        <input type="number" name="course_no" id="course_no" required onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1">
                    </div>
                </div>
                <!-- <div class="card">
                    <div class="text-box">
                        <label for="instructor">Proffesor/TA:</label>
                        <input type="text" name="instructor" id="instructor">
                    </div>
                </div> -->
                {% endif %}
                <button type="submit">Submit</button>
                <button type="reset"><a href="{% url 'clear' %}" class="btn btn-primary">Reset</a></button>
                {% if classes %}
                <button type="menu"><a href="{% url 'generate' %}" class="btn btn-primary">Generate
                        Schedule</a></button>
                {% endif %}

            </form>
        </div>
    </section>

    <!-- Schedule -->
    {% if classes %}
    <section class="schedule" id="schedule">
        <div class="max-width">
            {% if not map_links %}
            <table>
                <tr>
                    {% for class in classes %}
                    <th>{{class}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for linked_sections in sections %}
                    <td>{{linked_sections}}</td>
                    {% endfor %}
                </tr>
            </table>
            {% endif %}
            {% if sections %}
            <h2>Here is your Distance Optimized Schedule:</h2>
            <div class="slideshow-container">
                {% for maps_link in map_links %}
                <div class="mySlides fade">
                    <div class="map" id="map">
                        <img src="{{maps_link}}" width="600" height="400">
                    </div>
                </div>
                {% endfor %}

                <a class="next" onclick="plusSlides(1)">❯</a>
                <a class="prev" onclick="plusSlides(-1)">❮</a>
            </div>
            <br>

            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
                <span class="dot" onclick="currentSlide(3)"></span>
                <span class="dot" onclick="currentSlide(4)"></span>
                <span class="dot" onclick="currentSlide(5)"></span>
            </div>
            <table>
                <tr>
                    {% for class in classes %}
                    <th>{{class}}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for section in sections %}
                    <td>{{section}}</td>
                    {% endfor %}
                </tr>
            </table>
            {% endif %}
        </div>
    </section>
    {% endif %}

    <!-- added JS below from W3 schools-->
    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = slides.length }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
// from stackexchange
        function yearValidation(year,ev) {
            var text = /^[0-9]+$/;
            if(ev.type=="blur" || year.length==4 && ev.keyCode!=8 && ev.keyCode!=46) {
                if (year != 0) {
                    if ((year != "") && (!text.test(year))) {
                        alert("Please Enter Numeric Values Only");
                        return false;
                    }

                    if (year.length != 4) {
                        alert("Year is not proper. Please check");
                        return false;
                    }
                    var current_year=new Date().getFullYear();
                    if((year < 1920) || (year > current_year)) {
                        alert("Year should be in range 1920 to current year");
                        return false;
                    }
                    return true;
                } 
            }
        }
    </script>

</body>

</html>